h1{
  font-style: italic;
  text-align: center;
  
}
body{
  background-color: rgb(109, 133, 132);
  
}
li {
    margin-bottom: 10px;
  }

  li button {
    font-size: 12px;
    margin-left: 20px;
    color: rgb(51, 2, 50);
  }
